<div class="bg-gray-100 min-h-screen hotel-pages">

  <div class="sticky top-0 flex-1 p-4 bg-white shadow-lg z-10 flex justify-center items-center">
    <div class="container mx-auto px-6">

      <!-- <div class="grid grid-cols-1 md:grid-cols-3 flex-auto wrapper-form">
        <div>
          <input type="text" placeholder="Medan (KNO)" class="w-full p-2 border input-1 bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Surabaya (SUB)" class="w-full p-2 border input-2 bg-white" />
        </div>
        <div >
          <div class="wrapper-input relative">
            <input type="text" placeholder="Surabaya (SUB)" class="w-full p-2 border input-3 bg-white" />
            <button class="absolute bg-blue-500 text-white btn-search absolute right-0 h-full p-2">Cari Hotel</button>

          </div>
        </div>
      </div> -->

      <app-search-bar></app-search-bar>

    </div>
  </div>

  <div class="container mx-auto p-6 flex flex-row gap-4 pt-12">

    <!-- <div class="pt-12"></div> -->

    <div class="wrapper-comp flex flex-col gap-4 pt-12">
      <app-accordion-filter></app-accordion-filter>
      <app-accordion-filter></app-accordion-filter>
      <app-accordion-filter></app-accordion-filter>
      <app-accordion-filter></app-accordion-filter>
    </div>

    <div class="wrapper-comp flex flex-col gap-4 pt-12">
      @for (item of hotels; track $index) {
        <app-hotel-card [hotel]="item" ></app-hotel-card>
      }

    </div>

  </div>
</div>
