.hero {
  background-image: url(../../../../public/img/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;

  .hero-title {
    font-size: 32px;
    line-height: 56px;
  }

  .icon {
    height: 30px;
    width: 30px;
    display: block;
    // margin: auto;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .right-form {
    width: 400px;
    .w-rp {
      flex: 1 1 auto;

      select {
        color: white;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }

  .btn-search {
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .wrapper-form {

    input {
      outline: none;
      color: black;
    }

    .input-1 {
      border: 2px solid gray;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .input-2 {
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;
    }
    .input-3 {
      border: 2px solid gray;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;

    }
  }

  .mh-80 {
    min-height: 80px;
  }
}
