<section class="relative hero pt-12 ">
  <div class="relative from-blue-900 to-transparent pt-10">
    <div class="container mx-auto px-6 py-12 text-white flex flex-col">
      <h1 class="text-3xl font-bold mx-auto">Wujudkan Perjalananmu dengan Caramu</h1>
      <div class="bg-transparent shadow-lg rounded-lg mt-6 p-6 text-white box-border">
        <div class="flex items-center justify-between space-x-4 border-b-2 border-solid pb-10 box-border">
          <button class="py-2 px-4 rounded bg-white text-black">

            <span>
              Tiket Pesawat
            </span>
          </button>
          <button class="py-2 px-4 rounded hover:border hover:border-solid">Tiket Kereta Api</button>
          <button class="py-2 px-4 rounded hover:border hover:border-solid">Tiket Bus</button>

        </div>
        <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-4">
          <div>
            <label class="block text-sm">Dari</label>
            <input type="text" placeholder="Medan (KNO)" class="w-full p-2 border rounded" />
          </div>
          <div>
            <label class="block text-sm">Ke</label>
            <input type="text" placeholder="Surabaya (SUB)" class="w-full p-2 border rounded" />
          </div>
          <div>
            <label class="block text-sm">Tanggal Pergi</label>
            <input type="date" class="w-full p-2 border rounded" />
          </div>
        </div>
        <div class="mt-6 flex justify-between items-center">
          <button class="py-2 px-4 bg-orange-500 text-white rounded">Cari</button>
          <div class="flex items-center space-x-2 text-sm">
            <label>
              <input type="checkbox" class="mr-2" /> Sekali Jalan
            </label>
            <label>
              <input type="checkbox" class="mr-2" /> Pulang Pergi
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
