<div class="grid grid-cols-1 md:grid-cols-3 flex-auto wrapper-form">
  <div>
    <input type="text" placeholder="Medan (KNO)" class="w-full p-2 border input-1 bg-white" />
  </div>
  <div>
    <input type="text" placeholder="Surabaya (SUB)" class="w-full p-2 border input-2 bg-white" />
  </div>
  <div >
    <div class="wrapper-input relative">
      <input type="text" placeholder="Surabaya (SUB)" class="w-full p-2 border input-3 bg-white" />
      <button class="absolute bg-blue-500 text-white btn-search absolute right-0 h-full p-2">Cari Hotel</button>

    </div>
  </div>
</div>
