<div class="grid grid-cols-1 md:grid-cols-3 flex-auto wrapper-form">
  <div>
    <input type="text" [(ngModel)]="searchObj.name" placeholder="Lembang" class="w-full p-2 border input-1 bg-white" />
  </div>
  <div>
    <input type="text" [(ngModel)]="searchObj.date" placeholder="24 Jan - 25 Jan, 1 malam" class="w-full p-2 border input-2 bg-white" />
  </div>
  <div >
    <div class="wrapper-input relative">
      <input type="text" [(ngModel)]="searchObj.capacity" placeholder="1 Dewasa, 0 Anak, 1 Kamar" class="w-full p-2 border input-3 bg-white" />
      <button class="absolute bg-blue-500 text-white btn-search absolute right-0 h-full p-2" (click)="bindSearch()" >Cari Hotel</button>

    </div>
  </div>
</div>
