
<div class="card flex justify-center accordion-comp">
  <p-accordion value="0">
    <p-accordion-panel value="0">
        <p-accordion-header>Filter Populer</p-accordion-header>
        <p-accordion-content>
          @for (item of checkboxs; track $index) {
            <div class="flex gap-1">
              <p-checkbox formControlName="city" value="New York" inputId="{{item.label}}" />
              <label for="{{item.label}}" class="ml-2">{{ item.label }}</label>
            </div>
          }

        </p-accordion-content>
    </p-accordion-panel>

  </p-accordion>
</div>
